@media (max-width: 1440px) {
  /* global */
  .container {
    padding: 0 50px;
  }

  /* header */
  .nav {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav__logo {
    margin-bottom: 24px;
  }

  .nav__btn {
    position: absolute;
    right: 0;
    top: 5px;
  }

  /* gallery */
  .gallery__title {
    margin-bottom: 30px;
  }

  .gallery__flex-container {
    flex-direction: column;
  }

  .gallery__group-checkbox {
    margin-bottom: 36px;
    padding-bottom: 0;
    align-self: flex-start;
  }
}

@media (max-width: 1200px) {
  /* header */
  .header {
    padding: 30px 0;
  }

  .nav__logo {
    margin-bottom: 24px;
  }

  .nav__svg {
    width: 188px;
    height: 42px;
  }

  .hero {
    padding: 99px 0;
  }

  .hero__text {
    margin-bottom: 132px;
    max-width: 680px;
  }

  /* catalog */
  .catalog__flex-container {
    margin-bottom: 50px;
    flex-direction: column;
    gap: 30px;
  }

  .catalog__img {
    width: 100%;
  }

  .catalog__group {
    align-self: flex-start;
  }

  .catalog__date {
    margin-bottom: 17px;
  }

  .catalog__sub-text {
    max-width: 920px;
  }

  /* events */
  .events__flex-container {
    gap: 27px;
  }

  .events__article {
    padding-bottom: 99px;
  }

  .events__img {
    margin-bottom: 15px;
  }

  .events__group-text {
    padding: 0 33px;
  }

  .events__spot {
    margin-bottom: 3px;
    align-self: flex-end;
  }

  .events__text {
    max-width: 219px;
  }

  .events__sub-title {
    margin-bottom: 4px;
  }

  .events__link {
    left: 33px;
  }

  /* projects */
  .projects {
    padding-top: 48px;
  }

  .projects__text {
    margin-bottom: 23px;
  }

  .projects__img--mr {
    margin-right: 24px;
  }

  /* contacts */
  .contacts {
    padding: 42px 0;
  }

  .contacts__flex-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }

  .contacts__input {
    padding: 17px 66px 17px 22px;
  }

  .contacts__btn {
    padding: 15px 41px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }

  .footer__svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 996px) {
  /* header */
  .nav__list {
    gap: 44px;
  }

  /* events */
  .events__flex-container {
    flex-direction: column;
  }

  .events__article {
    width: 100%;
  }

  .events__img {
    width: 100%;
  }

  .events__sub-title {
    max-width: 493px;
  }

  .events__text {
    max-width: 100%;
  }

  /* projects */
  .projects__img--mr {
    margin-right: 30px;
  }

  /* contacts */
  .contacts__form {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  /* hero */
  .hero {
    padding: 85px 0;
  }

  .hero__text {
    max-width: 544px;
  }

  /* gallery */
  .gallery__group-art {
    gap: 34px;
  }

  .gallery__img {
    max-width: 200px;
  }

  /* catalog  */
  .catalog__date {
    margin-bottom: 7px;
  }

  /* events */
  .events__sub-title {
    margin-bottom: 15px;
  }

  .events__article {
    padding-bottom: 131px;
  }

  .events__flex-container {
    gap: 30px;
  }

  .events__spot--upper {
    margin-bottom: 0;
  }

  .events__img {
    margin-bottom: 16px;
  }

  /* projects */
  .projects__text {
    margin-bottom: 30px;
    max-width: 655px;
  }

  .projects__partners {
    margin-bottom: 29px;
  }

  /* contacts */
  .contacts {
    padding: 40px 0;
  }

  .contacts__input {
    padding: 17px 120px 17px 22px;
  }

  .contacts__form {
    row-gap: 5px;
  }

  .contacts__btn {
    padding: 15px 28px;
  }

  .contacts__title--sub {
    margin-bottom: 8px;
  }

  .contacts__link::before {
    transform: translateY(-66%);
    height: 50px;
  }
}

@media (max-width: 720px) {
  /* global */
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    line-height: 28px;
  }

  /* header */
  .header {
    padding-top: 15px;
    padding-bottom: 1px;
  }

  .nav__logo {
    margin-bottom: 5px;
  }

  .nav__svg {
    width: 97px;
    height: 22px;
  }

  .nav__list {
    padding: 10px 0;
    width: 100%;
    gap: 24px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .nav__list::-webkit-scrollbar {
    width: 0;
  }

  .nav__svg--btn {
    width: 18px;
    height: 18px;
  }

  /* hero */
  .hero {
    padding: 47px 0;
  }

  .hero__title {
    margin: 0 auto;
    margin-bottom: 10px;

    text-align: center;
    font-size: 32px;
    line-height: 28px;
  }

  .hero__text {
    margin: 0 auto;
    margin-bottom: 37px;
    max-width: 244px;

    text-align: center;
    font-size: 12px;
    line-height: 22px;
  }

  .hero__btn {
    display: block;
    margin: 0 auto;
    padding: 15px 17px;

    font-size: 12px;
  }

  .about {
    padding-top: 53px;
    padding-bottom: 41px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  /* gallery */
  .gallery {
    padding-top: 53px;
    padding-bottom: 45px;
  }

  .gallery__title {
    margin-bottom: 22px;
  }

  .gallery__group-art {
    flex-direction: column;
    gap: 27px;
  }

  .gallery__img {
    max-width: 100%;
  }

  /* gatalog */
  .catalog {
    padding-top: 54px;
    padding-bottom: 30px;
  }

  .catalog__title {
    margin-bottom: 15px;
  }

  .catalog__text {
    margin-bottom: 29px;

    font-size: 16px;
    line-height: 32px;
  }

  .catalog__flex-container {
    margin-bottom: 29px;
    gap: 20px;
  }

  .catalog__sub-title {
    margin-bottom: 9px;

    word-spacing: 1px;
  }

  .catalog__date {
    margin-bottom: 15px;
  }

  /* events */
  .events {
    padding-top: 21px;
  }

  .events__article {
    padding-bottom: 122px;
  }

  .events__img {
    margin-bottom: 11px;
  }

  .events__group-text {
    padding: 0 24px;
  }

  .events__spot {
    margin-bottom: 11px;
  }

  .events__spot--upper {
    margin-bottom: 0;
  }

  .events__sub-title {
    margin-bottom: 4px;
  }

  /* projects */
  .projects {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .projects__title {
    margin-bottom: 16px;
  }

  .projects__text {
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 32px;
  }

  .projects__partners {
    margin-bottom: 17px;

    font-size: 18px;
  }

  .projects__img--mr {
    margin-right: 0;
  }

  /* contacts */
  .contacts {
    padding: 36px 0;

    border-top: 0;
  }

  .contacts__title {
    font-size: 18px;
    line-height: 16px;
  }

  .contacts__adress {
    font-size: 14px;
  }

  .contacts__flex-container {
    gap: 16px;
  }

  .contacts__form {
    flex-direction: column;
    row-gap: 19px;
  }

  .contacts__input {
    padding: 10px 87px 10px 22px;
  }

  .contacts__btn {
    padding: 12px 33px;

    font-size: 12px;
  }

  .contacts__btn--invisible {
    display: none;
  }

  .contacts__title--sub {
    font-weight: 400;
    line-height: 32px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  /* footer */
  .footer {
    padding: 29px 0;
  }

  .footer__flex-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__logo {
    order: 2;
  }

  .footer__logo svg {
    width: 97px;
    height: 22px;
  }

  .footer__list {
    order: 1;
  }

  .footer__svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 320px) {
  /* header */
  .nav__list {
    padding: 0;
  }

  .nav__link {
    font-weight: 700;
    font-size: 12px;
  }

  /* hero */
  .hero__text {
    font-weight: 400;
    line-height: normal;
  }

  /* catalog */
  .catalog__sub-text {
    max-width: 287px;
  }

  /* projects */
  .projects__text {
    max-width: 288px;
  }

  .projects__img--mr {
    margin-bottom: 10px;
  }

  /* contacts */
  .contacts__form {
    flex-direction: row;
  }
}
