/* header */
.header {
  padding: 28px 0;

  background-color: var(--black);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-right: 30px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 96px;
}

.nav__link {
  position: relative;
  z-index: 13;

  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  z-index: -13;
  width: 100%;
  height: 26px;
  background-color: var(--purple-ui);
  opacity: 0;
}

.nav__link:focus-visible::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover:not(:focus-visible) {
  color: #c283f3;
}

.nav__link:active:not(:focus-visible) {
  color: var(--purple-ui);
}

.nav__btn {
  position: relative;
  z-index: 13;
}

.nav__btn::after {
  content: "";
  position: absolute;
  z-index: -13;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background-color: var(--purple-ui);
  opacity: 0;
}

.nav__btn:focus-visible::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.nav__btn:hover:not(:focus-visible) rect {
  fill: #c283f3;
  transition: fill 0.3s ease-in-out;
}

.nav__btn:hover:not(:focus-visible) path {
  fill: #c283f3;
  transition: fill 0.3s ease-in-out;
}

.nav__btn:active:not(:focus-visible) rect {
  fill: var(--purple-ui);
  transition: fill 0.3s ease-in-out;
}

.nav__btn:active:not(:focus-visible) path {
  fill: var(--purple-ui);
  transition: fill 0.3s ease-in-out;
}

/* hero */
.hero {
  padding: 146px 0;

  background-image: url("../img/hero-bcg-compressed.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 20px;
  max-width: 579px;

  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  color: var(--white);
}

.hero__text {
  margin-bottom: 92px;
  max-width: 540px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.hero__btn {
  padding: 25px 35px;
  position: relative;

  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 7px solid var(--white);
  border-radius: 100px;
  opacity: 0;
}

.hero__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #9d5cd0;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus-visible::before {
  opacity: 1;
}

.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:hover:not(:focus-visible)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #d1a9f0;
  border-radius: 100px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:active:not(:focus-visible) {
  background-color: #7943a4;
}

/* about */
.about {
  padding-top: 86px;
  padding-bottom: 69px;
}

/* gallery */
.gallery {
  padding-bottom: 77px;

  background-image: url("../img/gallery-bcg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery__title {
  margin-bottom: 26px;

  color: var(--white);
}

.gallery__flex-container {
  display: flex;
  justify-content: space-between;
}

.gallery__group-checkbox {
  padding-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 14px;
}

.gallery__checkbox {
  user-select: none;
  cursor: pointer;
}

.gallery__checkbox-input {
  position: absolute;
  appearance: none;
}

.gallery__date {
  position: relative;
  padding-left: 20px;
}

.gallery__date::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  border: 1px solid var(--white);
  transform: translateY(-50%);
  transition: border-color 0.3s ease-in-out;
}

.gallery__date:hover:not(:focus-visible)::before {
  border-color: #c283f3;
}

.gallery__date:active:not(:focus-visible) {
  color: #c283f3;
  transition: color 0.3s ease-in-out;
}

.gallery__date::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 50%;
  background-color: #c283f3;
  border-radius: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__checkbox-input:checked + .gallery__date::before {
  border-color: #c283f3;
}

.gallery__checkbox-input:checked + .gallery__date::after {
  opacity: 1;
}

.gallery__date {
  color: var(--white);
}

.gallery__group-art {
  display: flex;
  gap: 50px;
}

/* catalog */
.catalog {
  padding-bottom: 43px;
}

.catalog__title {
  margin-bottom: 22px;
}

.catalog__text {
  margin-bottom: 39px;
}

.catalog__flex-container {
  margin-bottom: 46px;
  display: flex;
  gap: 50px;
}

.catalog__flex-container:last-child {
  margin-bottom: 0;
}

.catalog__group {
  align-self: center;
}

.catalog__sub-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 24px;
  color: var(--semi-black);
}

.catalog__date {
  margin-bottom: 15px;
  display: inline-block;

  font-size: 12px;
  color: #999;
}

.catalog__sub-text {
  max-width: 800px;

  line-height: 32px;
  color: var(--semi-black);
}

/* events */
.events {
  padding-top: 40px;
  padding-bottom: 40px;
}

.events__flex-container {
  display: flex;
  gap: 50px;
}

.events__article {
  position: relative;
  padding-bottom: 139px;
  flex-basis: 33.33%;
  width: calc(100% - (500px * 3) - 100px);

  border: 1px solid #cacaca;
}

.events__img {
  margin-bottom: 13px;
}

.events__group-text {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.events__spot {
  margin-bottom: 16px;
  max-width: 145px;
  display: inline-block;

  font-weight: 600;
  font-size: 12px;
  color: #999;
}

.events__spot--upper {
  margin-bottom: 0;
  padding: 0;
}

.events__sub-title {
  margin-bottom: 8px;
  max-width: 419px;

  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: var(--semi-black);
}

.events__text {
  max-width: 400px;

  line-height: 32px;
  color: var(--semi-black);
}

.events__link {
  position: absolute;
  padding-bottom: 4px;
  left: 50px;
  bottom: 48px;

  color: var(--purple);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.events__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--purple);
}

.events__link:focus-visible {
  background-color: #9d5cd0;
  color: var(--white);
}

.events__link:focus-visible::after {
  background-color: var(--white);
}

.events__link:hover:not(:focus-visible) {
  color: #7943a4;
}

.events__link:hover:not(:focus-visible)::after {
  background-color: #7943a4;
}

.events__link:active:not(:focus-visible) {
  color: var(--black);
}

.events__link:active:not(:focus-visible)::after {
  background-color: var(--black);
}

/* projects */
.projects {
  padding-top: 40px;
  padding-bottom: 80px;
}

.projects__text {
  margin-bottom: 33px;
}

.projects__partners {
  margin-bottom: 16px;
  display: block;

  font-weight: 600;
  font-size: 24px;
  color: var(--semi-black);
}

.projects__img--mr {
  margin-right: 34px;
}

/* contacts */
.contacts {
  padding: 38px 0;

  border: 1px solid #cacaca;
}

.contacts__flex-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.contacts__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--semi-black);
}

.contacts__adress {
  line-height: 32px;
  color: var(--semi-black);
}

.contacts__form {
  display: flex;
  gap: 20px;
}

.contacts__input {
  padding: 17px 66px 17px 22px;

  border: 1px solid #333;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.contacts__input:focus-visible {
  background-color: #ececec;
  outline: var(--black);
}

.contacts__input:hover:not(:focus-visible) {
  background-color: #ececec;
}

.contacts__list {
  display: flex;
  gap: 20px;
}

.contacts__btn {
  padding: 15px 35px;

  font-weight: 700;
  font-size: 18px;
  color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    outline 0.3s ease-in-out;
}

.contacts__btn:focus-visible {
  outline: 2px solid #9d5cd0;
  outline-offset: -5px;
}

.contacts__btn:hover:not(:focus-visible) {
  background-color: #9d5cd0;
  color: var(--white);
}

.contacts__btn:active:not(:focus-visible) {
  background-color: #7943a4;
  outline: 3px solid #d1a9f0;
}

.contacts__link {
  position: relative;

  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.contacts__link:focus-visible {
  opacity: 0.5;
}

.contacts__link:hover:not(:focus-visible) {
  opacity: 0.5;
}

.contacts__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-56%);
  width: 100%;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 100%;
  background-color: transparent;
  opacity: 0;
}

.contacts__link:active:not(:focus-visible)::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* footer */
.footer {
  padding: 48px 0;

  background-color: var(--black);
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  gap: 20px;
}

.footer__link {
  outline: none;
}

.footer__link path {
  transition: fill 0.3s ease-in-out;
}

.footer__link:focus-visible path {
  fill: var(--white);
}

.footer__link:hover:not(:focus-visible) path {
  fill: var(--white);
}

.footer__link:active:not(:focus-visible) path {
  fill: #9d5cd0;
}
