html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: alias;
}

@font-face {
  font-family: "TiltNeon";
  src: local("TiltNeon-Regular"),
    url("../src/fonts/TiltNeon-Regular.woff2") format("woff2"),
    url("../src/fonts/TiltNeon-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TiltNeon", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../src/img/aaabstract\ bcg.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

:root {
  /* primary */
  --white: #fff;
  --black: #000;
  --semi-black: #333;
  --peach: #ff6d71;
  --pink: #ff899a;
  --coffee: #ffeceb;

  /* UI */
  --pink-ui: #ff84a7;
}

.section {
  padding: 20px 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
}

.title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 4px;
  color: var(--peach);
  user-select: none;
}
