.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.username {
  padding-left: 20px;
  color: var(--tg-theme-text-color);
}

.tier {
  color: rgb(255, 145, 126);
  font-weight: bold;
}
