.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.username {
  padding-left: 20px;
  color: var(--tg-theme-text-color);
  font-family: "BarlowCondensed";
  font-size: 18px;
}

.tier {
  color: rgb(22, 212, 255);
  font-family: "BarlowCondensed";
  font-weight: 700;
  font-size: 20px;
}
