.wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.wrapper-dark {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #95afda;
}

.username {
  color: saddlebrown;
}

.tier {
  color: rgb(72, 175, 179);
  font-weight: bold;
}
