.button {
  background-color: transparent;
  padding: 20px 20px;
  color: var(--tg-theme-text-color);
  background-image: url("../../img/icons8-question-mark-50.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
