/* form */
.form {
  padding: 20px 0;
}

.form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: var(--black);
  text-align: center;
}

.form__list {
  display: flex;
  margin-bottom: 10px;
  padding: 12px 5px;
  gap: 10px;
}

.form__item {
  font-size: 20px;
  color: var(--semi-black);
  text-shadow: 1px 1px 0px var(--blue);
  cursor: pointer;
}

.btn {
  display: block;
  position: relative;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -13;
  width: 60px;
  height: 60px;
  left: 0;
  top: 3px;
  background-color: var(--green-ui);
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover::after{
  opacity: 1;
}

/* list */
.students__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  color: var(--black);
  text-align: center;
}

.students__table {
  margin-bottom: 30px;
}

.students__table-head {
  font-size: 20px;
  color: var(--semi-black);
  text-shadow: 1px 1px 0px var(--blue);
  cursor: pointer;
}

.students__list td {
  /* td-item */
  padding: 20px 30px 20px 10px;
  width: 100%;
  font-size: 18px;
  /* bcg */
  background: rgba(158, 202, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* filter */
.filter__title {
  font-size: 20px;
  color: var(--semi-black);
  text-shadow: 1px 1px 0px var(--blue);
  cursor: pointer;
  transform: translateY(30%);
}

.filter__list {
  margin: 0 auto;
  max-width: 80%;
}

/* common */
.bcg {
  background: rgba(158, 202, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.label {
  font-weight: 700;
  font-size: 20px;
}

.input {
  width: 100%;
  font-size: 20px;
  border: 1px dashed var(--blue);
  border-radius: 10px;
}

.filter__input {
  width: 100%;
  font-size: 20px;
  border: 1px dashed var(--blue);
  border-radius: 10px;
}

.error {
  position: absolute;
  z-index: 1313;
  top: -5px;
  color: rgb(207, 0, 0);
}

.cross {
  position: relative;
  padding: 20px 20px;
  left: 8px;
  background-image: url('../src/img/icons8-cross-64.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.cross::after {
  content: "";
  position: absolute;
  z-index: -13;
  width: 60px;
  height: 60px;
  left: -6px;
  top: -10px;
  background-color: var(--green-ui);
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cross:hover {
  transform: scale(1.1);
}

.cross:hover::after{
  opacity: 1;
}

