/* cards */
.cards__field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 100%;
  max-width: 750px;
  margin-bottom: 30px;
}

.cards__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: var(--coffee);
  width: 130px;
  height: 130px;
  background-color: var(--pink);
  border: 3px solid #fd456185;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.cards__button:hover {
  background-color: var(--pink-ui);
  transform: translate(-2%, -2%);
  box-shadow: 5px 5px 0 2px currentColor;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cards__button--change {
  transform: scale(1.1);
  background-color: var(--peach);
  transition: background-color 1s ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  margin: 0 auto;
  font-size: 30px;
  color: var(--coffee);
  background-color: var(--peach);
  border-radius: 50px;
}

.btn:hover {
  background-color: var(--pink-ui);
  transition: background-color 0.3s ease-in-out;
}

.btn:hover span {
  @-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.kitty {
  color: rgb(0, 255, 255);
}

/* timer */
.timer__span {
  font-size: 24px;
  color: var(--pink);
  user-select: none;
}
